.container {
  max-width: 500px; /* 最大幅を800ピクセルに設定 */
  margin: 0 auto; /* コンテナを水平中央に配置 */
  padding: 20px; /* 必要に応じてパディングを追加 */
}

.container_input {
  display: flex;
  flex-direction: row; /* 要素を横方向に並べる */
}

table {
  border-collapse: collapse; /* セルの境界線を折りたたむ */
  border: 0px solid #000; /* ボーダーのスタイルと色を設定 */
}

textarea {
  touch-action: manipulation; /* タッチ操作によるズームを無効にする */
  resize: none; /* テキストエリアのサイズ変更を禁止 */
  line-height: calc(200%); /* 高さの12分の1の行間を設定 */
}