.container {
  max-width: 500px; /* 最大幅を800ピクセルに設定 */
  margin: 0 auto; /* コンテナを水平中央に配置 */
  padding: 20px; /* 必要に応じてパディングを追加 */
}

table {
  border-collapse: collapse; /* セルの境界線を重ねて表示 */
  width: 100%; /* テーブルの幅を100%に設定（任意の値に変更可能） */
}

th, td {
  border: 1px solid black; /* セルの境界線を1ピクセルの黒線で表示 */
  padding: 8px; /* セル内のコンテンツと境界線の間にパディングを追加（任意の値に変更可能） */
}

@media (max-width: 768px) {
  textarea {
      width: 100%; /* 画面幅に合わせてテキストエリアの幅を調整 */
  }
}

textarea {
  width: 100%; /* 画面幅に合わせてテキストエリアの幅を調整 */
  line-height: 2;
}

.test {
  display: flex;
}