* {
    margin:0;
    padding:0;
}

html {
    display:inline-block;
}

body {
    background-color: #ffd;
}

li{
    list-style: none;
    float:left;
}

header {
    background-color: #ff7;
    opacity:0.9;
    height:90px;
    
}

.header-main{
    width:300px;
    margin:0 auto;
}

.header-logo {
    font-size: 20px;
    padding: 15px 0;
    text-align:center;
}

.header-list {
    font-size:10px;
    width:200px;
    margin:0 auto;
}

.header li{
    padding:0 20px;
}

footer {
    background-color: #fff;
}
