
body {
  background-color: #ffd;
  margin: 0;
  padding: 0;
  display: block;
}

.header {
  background-color: #ff7;
  opacity: 0.9;
  height: 80px;
}

.header-main {
  width: 75%;
  margin: 0 auto;
}

.header-logo {
  font-size: 20px;
  padding: 15px 0;
  text-align: center;
}

.header-list {
  font-size: 12px;
  width: 80%;
  margin: 0 auto;
}

.header p {
  padding: 0 20px;
  float:left;
}

.header-list p:hover{
  color:white;
}

.footer {
  background-color: #fff;
}
