body{
 margin:0px;
}
.header{
 background-color:#ffbb88;
}
.header-logo{
 font-size:20px;
 font-family:"Avenir Next";
 padding:40px;
}
.header li{
 float:left;
 padding:20px;
 list-style:none;
}

.footer{
 background-color:#4499ff;
}
